.home .content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  padding-top: 12%;
}
.home .content .home-logo {
  width: 130px;
  border-radius: 50%;
}
.home .content .home-header .link {
  display: block;
}
.home .content .home-body {
  padding-top: 20px;
}
.home .content .home-body .list .link {
  display: inline-block;
  padding: 20px;
  color: #033767;
  min-width: 120px;
}
.home .content .home-body .list .link:hover {
  color: #bb4a4a;
}
.home .content .introduce {
  color: #bd1c44;
}

#sakura{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;
}


.footer{
  background-color:transparent;
}
.navbar{
  background-color:transparent;
}
.form-inline {
  display: flex;
  flex-grow: 1;
  min-width: 40%;
  width: 50%;
  justify-content: center;
  margin: auto;
}

@media screen and (max-device-width: 600px) {
	.column {
	float: none;
	width:auto;
	}

	#sidebar {
	display:none;
	}
}
